{% extends 'base.html' %}

{% block head %}
<title>Group Manager Dashboard</title>
{% endblock %}



{% block body %}
<div clas="content">
    <h1 style="text-align: center"> Group Manager Dashboard </h1>
    <table>
        <tr>
            <th>USER_ID</th>
            <th>NAME</th>
            <th>GROUP</th>
            <th>ACTIONS</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user._id }} </td>
                <td>{{ user.name }}</td>
                <td>{{ user.group }}</td>
                <td>
                    <a href="/manager/updategroup/{{ user._id }}" style="color:rgb(255, 142, 50); text-decoration:none">Update Group</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}